<h1>Welcome to Daybreakers!</h1>

<p>
  Hi there, <%= @user.name %>!
</p>

<p>Your Daybreakers.co account is now ready, you can find it at <a href="http://daybreakers.co/<%= @user.username %>">http://daybreakers.co/<%= @user.username %></a></p>

<p>Best,</p>
<p>The Daybreakers.co team</p>
